/* roboto font import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* markazi text */
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&family=Poetsen+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Karla font */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
.karla{
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}
.markazi-text-ForHeaders {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body{
  text-align: center;
  background-color: #495E57;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  margin:auto;
}
.button {
  font-family:"Roboto";
  font-weight: 450;
  /* display: grid; */
  background-color: #F4CE14;
  border-radius: 0.5rem;
  border: none;
  color: Black;
  cursor: pointer;
  width: fit-content;
  padding: 0.7rem 1.5rem 0.7rem 1.5rem;
  margin-bottom: 1rem;
  /* align-self:start; */
  /* align-items: center; */
}
#LogoTop{
 padding-top: 2rem;
}
.TopLine{
  color: black;
  display: inline-flex;
  flex-direction: row;
  background-color: #ffffff;
  width: 100vw;
  justify-content: center;
}
.Hero,.Testimonial{
  letter-spacing: normal;
  text-align: left;
  margin:auto;
  display: inline-flex;
  flex-direction: row;
  background-color: #495E57;
  width: 100vw;
  justify-content: center;
}
.Paragraph{
  text-align: left;
  text-wrap: wrap;
  grid-area:paragraph;
  font-size: 1rem;
}
.HeroRight{
  padding: 1rem;
  grid-area: I;
  margin: auto;
}
.Image{
  border-radius: 0.5rem;
  grid-area: IMG;
  width: 22vw;
  height: 15rem;
  display: block;
  object-fit: cover;
  margin-left: 3rem;
}
.Title{
  margin-top: 2rem;
  font-family:"Markazi Text";
  font-size: 3rem;
  font-weight: 100;
  grid-area: Title;
  color: #F4CE14;
}
.Hero{
  width: 50%;
}
.HighlightContent button{
  margin:auto;
  grid-area: "btn";
  float: right;
}
.HighlightBackground,.About{
  background-color: #ffffff;
  color: black;
  width: 100vw;
  justify-content: center;
}
.HighlightContent{
  width: 50%;
}
#HighlightTitle{
  width: auto;
  font-family: "Karla";
  text-align: left;
  grid-area: "Title1";
}
.Card1,.Card2,.Card3{
  border-radius: 10% 10% 0% 0%;
  background-color: #EDEFEE;
  width: 14rem;
}
.Card1Text,.Card2Text,.Card3Text{
  padding: 0% 10% 0% 10%;
  text-align: left;
}
.Card1 p,.Card2 p,.Card3 p{
  color: #495E57;
}
.CardImage1,.CardImage2,.CardImage3{
  border-radius: 10% 10% 0% 0%;
  width: 14rem;
  max-height: 9.5rem;
  display: block;
  object-fit: cover;
}
#Price1,#Price2,#Price3{
  color: #EE9972;
}
.Card1{
  grid-area: "C1";
}
.Card2{
  grid-area: "C2";
}
.Card3{
  grid-area: "C3";
}
.Card1 h4,.Card2 h4,.Card3 h4{
  font-family: "Markazi Text";
  display: flex;
  flex-direction: row;
  text-align: left;
  font-size: larger;
}
.HighlightContent{
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  row-gap: 1rem;
  grid-template-rows: auto 1fr;
  grid-template-areas:
  "Title1 . btn"
  "C1 C2 C3";
}

.HighlightContent{
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  row-gap: 1rem;
  grid-template-rows: auto 1fr;
  grid-template-areas:
  "Title1 . btn"
  "C1 C2 C3";
}
.Nav li{
  display: inline-flex;
  flex-direction: row;
  margin: 0.5rem;
  margin-top: 1rem;
}
.Footer {
  justify-content: center;
  width: 100vw;
  display: inline-flex;
  flex-direction: row;
}




