/* roboto font import */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* markazi text */
@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&family=Poetsen+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* Karla font */
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

.button-link {
  padding-bottom: 2rem;
}
.karla {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}
.markazi-text-ForHeaders {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
  /* changes */
  will-change: scroll-position;
  /* test it on mobile */
}
body {
  background-color: #495e57;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}
.button,
.button-link,
.submitBtn {
  font-family: "Roboto";
  font-weight: 450;
  background-color: #f4ce14;
  border-radius: 0.5rem;
  border: none;
  color: Black;
  cursor: pointer;
  width: fit-content;
  padding: 0.7rem 1.5rem 0.7rem 1.5rem;
  margin-bottom: 1rem;
}
.button-link {
  margin-bottom: 2rem;
}
#LogoTop {
  padding-top: 2rem;
  padding-left: 2rem;
}
.TopLine {
  color: black;
  display: inline-flex;
  flex-direction: row;
  background-color: #ffffff;
  width: 100vw;
  justify-content: space-evenly;
}
.Hero,
.Testimonial {
  margin-bottom: 2rem;
  letter-spacing: normal;
  text-align: left;
  display: inline-flex;
  flex-direction: row;
  background-color: #495e57;
  justify-content: center;
  width: 67%;
}
.Testimonial {
  flex-direction: column;
}
.Paragraph {
  text-align: left;
  text-wrap: wrap;
  grid-area: paragraph;
  font-size: 1rem;
}
.HeroRight,
.AboutRight {
  padding: 1rem;
  margin: auto;
}
.AboutRight {
  padding: 0rem 8rem 0rem 8rem;
}
.Image {
  border-radius: 0.5rem;
  width: 30vw;
  height: 15rem;
  display: block;
  object-fit: cover;
  margin-left: 3rem;
  margin-right: 0%;
}

.AboutImage1,
.AboutImage2 {
  position: relative;
  width: 20vw;
  height: 20rem;
  display: block;
  object-fit: cover;
  border: 1px black solid;
  margin: 0%;
}
.AboutImage1 {
  top: 16rem;
  right: 2rem;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}
.AboutRight:hover .AboutImage1 {
  top: 10rem;
  right: 1.5rem;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}
.AboutImage2 {
  bottom: 16rem;
  left: 8rem;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}
.AboutRight:hover .AboutImage2 {
  bottom: 14rem;
  left: 6rem;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}
.AboutLeft {
  margin-top: 8rem;
}
.Title,
.TestimonialHeader,
.Booking >h2 ,
.BookingSuccess >h2{
  margin-top: 2rem;
  font-family: "Markazi Text";
  font-size: 3rem;
  font-weight: 100;
  grid-area: Title;
  color: #f4ce14;
}
.TestimonialHeader {
  text-align: center;
}
.ReviewContainer {
  text-align: center;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 2rem;
  /* display: flex; */
  flex-wrap: wrap;
  height: auto;
  justify-content: center;
  width: 100%;
}
.Review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #edefee;
  margin: 0rem 0.5rem 0rem 0.5rem;
  background-color: #fff;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
  height: 16rem;
  margin: 1em;
  width: 16rem;
}
.ReviewRating {
  max-width: 10em;
}
.ReviewImage {
  align-items: center;
  justify-content: center;
  max-height: 9.5rem;
  display: block;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
  margin: 1em;
  width: 30%;
  /* min-width: 5em; */
}
.ReviewText {
  color: #495e57;
}
.HighlightContent button {
  margin: auto;
  margin-right: 0;
  grid-area: "btn";
  float: right;
}
.HighlightBackground,
.About,
.BookingConfirmed {
  background-color: #ffffff;
  color: black;
  width: 100vw;
  justify-content: center;
}
.BookingConfirmedContainer{
  font-family: "Roboto";
  max-width: fit-content;
  width: 67%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}

.HighlightContent,
.AboutContainer {
  letter-spacing: normal;
  text-align: left;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  width: 67%;
}
#HighlightTitle {
  width: auto;
  font-family: "Karla";
  text-align: left;
  grid-area: "Title1";
}
.Card1,
.Card2,
.Card3 {
  border-radius: 10% 10% 0% 0%;
  display: flex;
  flex-direction: column;
  background-color: #edefee;
  width: auto;
}
.Card2 p {
  padding-bottom: 2rem;
}
.Card3 p {
  padding-bottom: 1rem;
}
.CardText {
  padding: 0% 10% 0% 10%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
.CardTitle {
  display: flex;
  justify-content: space-between;
}
.Card1 p,
.Card2 p,
.Card3 p {
  text-align: left;
  color: #495e57;
  justify-content: flex-start;
  align-self: flex-start;
}
.CardImage {
  border-radius: 10% 10% 0% 0%;
  width: 100%;
  max-height: 9.5rem;
  display: block;
  object-fit: cover;
}
#Price {
  display: inline-flex;
  justify-content: flex-end;
  text-align: end;
  color: #ee9972;
}
.Card1 {
  grid-area: "C1";
}
.Card2 {
  grid-area: "C2";
}
.Card3 {
  grid-area: "C3";
}
#FoodTitle {
  margin-top: 1.2rem;
  margin-bottom: auto;
  display: inline-block;
  font-family: "Markazi Text";
  font-weight: 800;
  text-align: start;
  font-size: 1.5rem;
}
.Order {
  justify-content: flex-end;
  text-align: left;
}
.HighlightContent {
  margin: 3rem 0rem 2rem 0rem;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  row-gap: 1rem;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "Title1 . btn"
    "C1 C2 C3";
}
.Nav li {
  display: inline-flex;
  flex-direction: row;
  justify-content: stretch;
  padding: 0rem 1rem 0rem 1rem;
  margin-top: 1rem;
}
.Footer {
  width: 100vw;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
}
.FooterContainer {
  width: 50vw;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}
.Footer ul {
  list-style-type: none;
  text-align: start;
  color: white;
  text-decoration: none;
}
.FooterSections {
  text-align: "center";
  color: #f4ce14;
}
.FooterContainer #LogoTop img {
  height: auto;
  width: auto;
  max-width: 4rem;
  max-height: 8rem;
}
a {
  color: black;
  font-family: "Karla";
}
.FooterContainer a {
  color: #ffffff;
}
.FooterContainer a:hover {
  color: #f4ce14;
}
.Nav a:hover {
  color: #f4ce14;
  transform: scale(1.2);
  will-change: scroll-position;
  transition: 300ms;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
/* a:hover {
  color: #F4CE14;
} */
a:active {
  text-decoration: none;
}
.TurnYellow {
  -webkit-transition: all 250ms;
  transition: 300ms;
}
.TurnYellow:hover {
  -webkit-transition: all 250ms;
  color: #f4ce14;
  transition: 300ms;
  will-change: scroll-position;
}

.Booking {
  width: 100%;
  display: flexbox;
  flex-direction: column;
  align-items: center;
  align-self: center;
}
.BookingContainer {
  display: flexbox;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  label {
    font-family: "Karla";
    font-size: 1.5rem;
    font-weight: 800;
  }
  input {
    width: 67%;
    padding: 1rem 1rem;
    margin: 1rem 0;
    box-sizing: border-box;
    border: 0.2rem solid;
    border-radius: 4px;
  }
  input:invalid,
  select:invalid {
    border: 2px solid red;
  }
  input:focus {
    background-color: lightblue;
  }
  select {
    padding: 1rem 1rem;
    margin: 1rem 0;
    box-sizing: border-box;
    border: 0.2rem solid;
    border-radius: 4px;
  }
  select:invalid {
    border: 2px solid red;
  }
  .Err{
    font-family: "Karla";
    color: red;
  }
}

/* For Tablets */
@media only screen and (max-width: 1000px) {
  .Hero,
  .Testimonial,
  .HighlightContent,
  .AboutContainer,
  .FooterContainer {
    width: 90%;
  }
  .TopLine {
    color: black;
    display: inline-flex;
    flex-direction: row;
    background-color: #ffffff;
    width: 100vw;
    justify-content: center;
  }
}

/* For Phones */
@media only screen and (max-width: 600px) {
  .Hero,
  .HighlightBackground,
  .HighlightContent,
  .Testimonial,
  .About,
  .AboutContainer,
  .Footer,
  .FooterContainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  .HeroLeft,
  .HighlightContent {
    /* padding: 0rem 0rem 0rem 1rem; */
    margin: auto;
    width: 95vw;
  }
  .AboutRight {
    padding: 0rem;
    margin: auto;
  }
  .Hero,
  .Testimonial,
  .FooterContainer,
  .Footer {
    background-color: #495e57;
  }
  .HighlightContent,
  .About {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .TopLine {
    color: black;
    display: inline-flex;
    flex-direction: row;
    background-color: #ffffff;
    width: 100vw;
    justify-content: center;
  }
  #LogoTop {
    display: inline-flex;
    padding-top: 1rem;
    padding-left: 0rem;
  }
  .Nav li {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin-top: 1rem;
  }
  .menu-button {
    align-items: end;
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem 0rem;
    border: none;
    background: none;
  }
  .dropdown-menu {
    text-align: center;
    position: absolute;
    top: 4rem; /* Adjust this value as needed to position below .menu-button and .LogoTop */
    right: 1rem;
    background-color: #ffffff; /* Optional: Add background color */
    border-radius: 0.5rem; /* Optional: Add border radius */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for better visibility */
    padding: 0rem, 1rem, 0rem, 1rem;
  }
  .dropdown-menu ul {
    padding: 0%;
  }
  .Image {
    border-radius: 0.5rem;
    width: 90vw;
    height: 25rem;
    display: block;
    object-fit: cover;
    margin: auto;
  }
  /* .ReviewContainer{
  } */
  .Review {
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  }
  .AboutLeft {
    padding-left: 1rem;
    width: 95%;
  }
  .AboutImage1,
  .AboutImage2 {
    position: relative;
    width: 30vw;
    height: 20rem;
    display: block;
    object-fit: cover;
    border: 1px black solid;
    margin: 0%;
  }
  .AboutImage1 {
    top: 16rem;
    right: 1rem;
    -webkit-transition: all 250ms;
    transition: all 250ms;
  }
  .AboutRight:hover .AboutImage1 {
    top: 10rem;
    right: 1rem;
    -webkit-transition: all 250ms;
    transition: all 250ms;
  }
  .AboutImage2 {
    bottom: 16rem;
    left: 4rem;
    -webkit-transition: all 250ms;
    transition: all 250ms;
  }
  .AboutRight:hover .AboutImage2 {
    bottom: 14rem;
    left: 2rem;
    -webkit-transition: all 250ms;
    transition: all 250ms;
  }
}
